article.single-comment {
  display: flex;
  justify-content: left;
  gap:1em;
 min-height: 5rem;
}
article.single-comment.parent{
  border-bottom: 1px solid teal;
  margin-bottom: 2rem;
}
article.single-comment.child{
  border-bottom: 1px dotted orangered;
  margin-left: 3rem;
}
article.single-comment.parent .comment-heading{
  color: #FF8B13;
  font-size: 20px;
  text-transform: uppercase;
}
article.single-comment.child .comment-heading{
  color: #fff;
  font-size: 16px;
}


.comment-heading {
  display: flex;
  max-height: 3rem;
  max-width: 3rem;
  
    font-weight: 700;
    flex-direction: column;
}
.comment-heading img {
 max-width: 100%;
 max-height:100%;
}

.comment-body {
  text-align: left;
  max-width: 80ch;
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  margin-left:2rem
}

article.single-comment.parent  {
  background: #567189;
  padding: 2em;
  border-radius: 10px;

}
article.single-comment.child  {
  background: #7B8FA1;
  padding: 1em;
  border-radius: 5px;


}
form.main-comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.main-comment-form textarea {
  height: 4rem;
  width: 30rem;
  padding: 10px;
}
form.main-comment-form button{
  width: 5rem;
    height: 2rem;
    margin-top: 1em;
    margin-bottom: 1em;
}
.interactions{
  display: flex;
  gap: 5px;
  align-items: end;
}
.interactions span{
 padding: 8px;
 border-radius: 4px;
 background-color: #ccc;
 color: teal;
 transition: all .2s ease;
 cursor: pointer;
}
.interactions span:hover{
  background-color: #FF8B13;
}